.container {
    box-shadow: 0px 0px 8px rgba(0, 0, 0.3);
    padding: 12px;
    width: 450px;
    border-radius: 8px;;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 4px;
    vertical-align: middle;
}

.tweet-input {
    border: none;
    width: 240px;
    font-size: 18px;
    vertical-align: middle;
}

.tweet-button, .save-button {
    background-color: rgb(71, 71, 223);
    color: white;
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
}

/*.save-button {
    background-color: green;
}*/